
// .card-footer {
//     position: relative;
// }

// .icons {
//     position: absolute;
//     top: -.35rem;
//     font-size: 1.5em;
// }
.footer-container {
    display: flex;
    justify-content: space-between;
    i {
        font-size: 1.2em;
        color: #6c757d;
    }
}
.card-body a{
    text-decoration: none;
    color: #212529;
    &:hover {
        text-decoration: none;
    }
}

.new-btn {
    position: fixed;
    right:20px;
    bottom:20px;
}