RewriteEngine On

#RewriteCondディレクティブとは
#RewriteRule を実行するための条件を定義するための記述。 
#RewriteCond に記述した条件が満たされた時のみ RewriteRule に記述したURLの書き換えと転送が実行されるようになる。

# 行頭が/pollでない場合
RewriteCond %{REQUEST_URI} !^/poll
# R = 301リダイレクト L = Last
RewriteRule .? /poll/ [R,L]

# 行末が/poll/で終了している場合
# RewriteCond %{REQUEST_URI} /poll/$
# RewriteRule .? /poll/index.php [R,L]

# ファイルが存在しない場合 AND ディレクトリが存在しない場合はindex.phpを呼び出す
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule .* /poll/$1/index.php
RewriteRule .* /poll/index.php
# RewriteRule (part.+(end|start)) /poll/$1/index.php
