RewriteEngine On

# 行頭が/pollでない場合
RewriteCond %{REQUEST_URI} !^/poll
RewriteRule .? /poll/index.php [R,L]

# 行末が/poll/で終了している場合
# RewriteCond %{REQUEST_URI} /poll/$
# RewriteRule .? /poll/index.php [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* /poll/$1/index.php
# RewriteRule (part.+(end|start)) /poll/$1/index.php
