.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container i {
  font-size: 1.2em;
  color: #6c757d;
}
.card-body a {
  text-decoration: none;
  color: #212529;
}
.card-body a:hover {
  text-decoration: none;
}
